@use '../../../styles/main' as main;

.valueHistory {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;

  &.noChart {
    padding-top: 0;
  }

  h3, p {
    margin: 0;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    @include main.at-media-max('mobile-lg') {
      font-size: 16px;
    }
  }
}

.seeMoreButton {
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 16px 0 0 0;
  cursor: pointer;
  color: #1871BD;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  font-size: 24px;
  line-height: 1;
  &::before {
    content: '›';
    display: inline-block;
    transform: rotate(90deg);
  }

  &.up::before {
    transform: rotate(-90deg);
  }
}

.description {
  margin: 0;
  line-height: 1.5rem;
}

.screenTable {
  display: block;
}
.printTable {
  display: none;
}

@media print {
  .barGraph,
  .historySection {
    display: none !important;
  }
  .valueHistoryTable {
    display: table !important;
  }
  .valueHistory {
    max-height: none !important;
    overflow: visible !important;
  }
  .seeMoreButton {
    display: none !important;
  }
  .screenTable {
    display: none !important;
  }
  .printTable {
    display: block !important;
  }
}